/*CSS BY JASON*/

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES*/
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavendar: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dk-gray: #1E1E1E;
    --white: #ffff;
}

body{
    background-color: var(--purple);
    width: 450px;
    margin: 0 auto;
}

header{
    position: relative;
}

header h1{
    border-radius: 0 0 25px 25px;
    padding: 2rem;
    background-color: var(--lavendar);
    font-family: 'Kavoon';
    color: var(--white);
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
}

header p{
    background-color: var(--pink);
    color: var(--white);
    margin: 0 auto;
    width: 90%;
    border-radius: 0 0 25px 25px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

nav a{
    background-color: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding: 0.5rem;
    justify-content: center;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

h2{
    font-family: 'Kavoon';
    color: var(--white);
    font-size: 2rem;
    padding-top: 3rem;
}

h3{
    font-family: 'Inter';
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
    padding-top: 1rem;
}

.option{
    background-color: var(--white);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

h4{
    font-family: 'Inter';
    color: var(--purple);
    font-size: 1.15em;
    font-weight: bold;
    padding-top: 1rem;
}

.option > p{
    font-family: 'Inter';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#choose{
    background-color: var(--pink);
}

#choose > h2{
    padding: 1rem;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}

li{
    font-family: 'Inter';
    font-weight: bold;
    padding: 1rem;
    margin: 0 auto;
    font-size: 1.15em;
    text-align: center;
}

li:first-child{
    background-color: var(--teal);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

li:nth-child(2){
    background-color: var(--lavendar);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

li:nth-child(3){
    background-color: var(--yellow);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

li:nth-child(4){
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

table{
    background-color: var(--yellow);
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    margin-top: 0.5rem;
}

tr, th{
    font-family: 'Inter';
}

th{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

td{
    background-color: var(--white);
    padding: 1rem;
    border: 2px solid var(--yellow);
}

#step > h2{
    padding: 0;
}

#step{
    display: block;
    background-color: var(--pink);
    padding: 1em;
    font-family: 'Inter';
    color: var(--white);
    align-items: center;
    margin-top: 0.5em;
}

#step p{
    padding-top: 1em;
    padding-bottom: 1em;
}

#step a{
    display: block;
    margin: 0 auto;
    background-color: var(--white);
    font-family: 'Inter';
    text-decoration: none;
    color: var(--dk-gray);
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    width: 70%;
    border-radius: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px var(--dk-gray)
}

footer{
    display: flex;
    align-items: center;
    background-color: var(--lavendar);
    border-radius: 0 0 25px 25px;
    margin-bottom: 2rem;
}

footer p{
    font-family: 'Inter';
    color: var(--white);
    padding: 3rem;
    text-wrap: nowrap;
}

footer p:nth-child(2){
    text-decoration: underline;
}
